@keyframes shiver {
  0% {
    transform: translate(0, 0);
  }
25% {
    transform: translate(-5px, -2px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(5px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  background: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}

.img-404 {
  animation: shiver 0.1s infinite;
}
